/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  width: 880px;
  margin: auto;
  color: #191970;
}
@media (max-width: 500px) {
  body {
    width: 90%;
  }
}
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/comfortaa/v28/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDrMfJQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Lacquer';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lacquer Regular'), local('Lacquer-Regular'), url(https://fonts.gstatic.com/s/lacquer/v2/EYqzma1QwqpG4_BBN7iKWg.ttf) format('truetype');
}
b {
  font-weight: bolder;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #CD5C5C;
}
.bodyStyles {
  font-family: "Comfortaa", cursive;
}
.navLinks {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
  margin: 20px 0;
  margin-left: 50%;
  width: 50%;
}
@media (max-width: 500px) {
  .navLinks {
    display: flex;
    justify-content: space-between;
  }
}
.navLinks a {
  text-decoration: none;
  color: black;
  font-family: "Lacquer", sans-serif;
}
.intro-parent {
  margin-bottom: 5%;
  background-color: lightgrey;
  width: 100%;
  height: 60vh;
  padding: 4% 0;
  padding-left: 5%;
}
@media (max-width: 500px) {
  .intro-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 80vh;
  }
}
.intro-parent h1 {
  font-size: 2.5rem;
}
.intro-parent button {
  border-radius: 15px;
  height: 40px;
  width: 180px;
  background-color: gray;
  color: white;
}
@media (max-width: 500px) {
  .intro-parent button {
    margin-bottom: 30%;
  }
}
.intro-parent hr {
  border: 0;
  border-top: 1px solid black;
  width: 95%;
  margin-right: 8%;
}
.intro-parent img {
  width: 30%;
  height: 25vh;
  border-radius: 25px;
}
.middle-parent {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 5%;
  margin-top: 5%;
}
@media (max-width: 500px) {
  .middle-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.middle-parent .here {
  width: 50%;
}
@media (max-width: 500px) {
  .middle-parent .here {
    width: 100%;
    margin-bottom: 5%;
  }
}
.middle-parent .here h1 {
  font-size: 1.5rem;
}
.middle-parent .skills {
  width: 50%;
  border: 1px solid black;
}
@media (max-width: 500px) {
  .middle-parent .skills {
    width: 100%;
  }
}
.middle-parent .skills h1 {
  font-size: 1.5rem;
}
.bottom-parent {
  width: 100%;
}
.bottom-parent h1 {
  font-size: 1.5rem;
}
.bottom-parent .exp {
  text-align: center;
  width: 100%;
}
.bottom-parent .exp .work {
  display: flex;
  justify-content: space-between;
}
.bottom-parent .exp .work p {
  width: 100%;
  border-bottom: 1px solid red;
  border-right: 1px solid red;
  border-left: 1px solid red;
  background-color: lightgrey;
}
.bottom-parent .exp .work p:first-child {
  border-top: 1px solid red;
}
.bottom-parent .exp .work p:nth-child(2) {
  border-top: 1px solid red;
}
.bottom-parent .exp .work p:nth-child(3) {
  border-top: 1px solid red;
}
.bottom-parent .exp .work p:nth-child(4) {
  border-top: 1px solid red;
}
.bottom-parent .one {
  width: 100%;
  word-spacing: 105px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 4vh;
}
@media (max-width: 500px) {
  .bottom-parent .one {
    word-spacing: 50px;
  }
}
.bottom-parent .two {
  width: 100%;
  word-spacing: 122px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: lightgray;
  height: 4vh;
}
@media (max-width: 500px) {
  .bottom-parent .two {
    word-spacing: 65px;
  }
}
.bottom-parent .three {
  width: 100%;
  word-spacing: 120px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 4vh;
}
@media (max-width: 500px) {
  .bottom-parent .three {
    word-spacing: 50px;
  }
}
.bottom-parent .four {
  width: 100%;
  height: 4vh;
  word-spacing: 140px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: lightgray;
  margin-bottom: 5%;
}
@media (max-width: 500px) {
  .bottom-parent .four {
    word-spacing: 50px;
  }
}
footer {
  display: flex;
  justify-content: center;
  background-color: gray;
  color: white;
  width: 100%;
  height: 8vh;
  align-items: center;
  margin-bottom: 5%;
}
